.app
  max-width: 800px
  margin: 0 auto
  .personalInfo
    width: 100%
    text-align: center
    div
      float: left
    div.inputFields
      width: 100%
      div.field
        width: 100%
        label, input, div
          height: 25px
          display: block
          float: left
          width: 49%
        label
          padding-right: 20px
          text-align: right
        div
          text-align: left
        input
          border-bottom: 1px solid black
    div.saveEdit
      margin-top: 5px
      width: 100%
      button
        width: 50px
        font-size: 75%
  h1
    font-size: 200%
    text-decoration: bold