.app
  max-width: 800px
  margin: 0 auto
  text-align: center
  .personalInfo, .experience, .education
    width: 100%
    text-align: center
    div.header
      float: left
      width: 100%
      h1
        margin-bottom: 10px
    div.inputFields
      margin-bottom: 5px
      margin-top: 10px
      float: left
      width: 100%
      div.field
        width: 100%
        display: flex
        label, input, div
          flex: 1
          height: 25px
          display: block
          float: left
          width: 49%
        label
          padding-right: 20px
          text-align: right
        div
          text-align: left
        input
          border-bottom: 1px solid black
        button
          flex: 1
    div.saveEdit
      margin-top: 5px
      width: 100%
      float: left
      button
        font-size: 75%
        margin: 0 50px
        width: 100px
    >button
      margin-bottom: 15px
      margin-top: 5px
  div.addButton
    float: left
    width: 100%
    margin-top: -10px
  h1
    font-size: 200%
    text-decoration: bold
  h2
    font-size: 175%
    text-decoration: bold
.generate
  font-size: 125%

ul
  list-style: disc
  li
    display: list-item
    margin-left: 1em
    list-style-type: disc

.cvPreview
  text-align: left
  .experienceName, .educationName
    font-size: 175%
  p, ul, a
    margin-bottom: 3px

  .container
    display: grid
    grid-template-columns: 70% 30%
    grid-template-rows: auto
    .professionalSummaryPreview, .workExperiencePreview, .educationPreview
      grid-column: 1 / span 1
    .name
      font-size: 200%
      text-decoration: underline
      grid-column: 1 / span 2
    .professionalSummaryPreview
      margin-bottom: 20px
    .contactInfoPreview
      grid-column: 2 / span 1
      display: flex
      flex-direction: column
      li, p, div
        flex: 1
    .educationPreview
      h2
        margin-bottom: 10px
      .singularEducation
        margin-bottom: 10px
        p.schoolName
          font-size: 125%
        .date
          font-size: 80%
    .workExperiencePreview
      h2
        margin-bottom: 10px
      .singularExperience
        display: flex
        flex-direction: column
        .jobTitle
          font-size: 125%
        .oneLineSummary
          margin-bottom: 5px
        .datesOfEmployment
          font-size: 80%